@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
*{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: #3b1e14;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  background: #D7B19D;
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: #402218;
}
body{
  background-color: #C68B59;
}

.app , .cont{
  width: 85%;
  margin: auto;
}

.navbar{
  z-index: 1000;
  padding: 1.5em 6em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: #C68B59;
}

.menu{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.menu li , .btn_nav{
  padding-left: 1.7em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;
}
.menu li:hover , .btn_nav:hover{
  font-weight: bolder;
}

.hero{
  display: flex;
  flex: row;
  min-height: 100vh;
  padding-top: 10em;
}

.about{
  height: 85vh;
}

.Contact{
  height: 70vh;
  padding-bottom: 2em;
}

.section{
  min-height: 10em;
  width: 48%;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.7em;
}

.about h1 {
  font-size: 3em;
}

.connect_container{
  margin-top: 1.5em;
}

.input{
  padding: 15px;
  border: none;
  border-bottom: 5px solid rgba(78, 16, 16, 0.863);
  width: 25em;
  outline: none;
  background: #C68B59;
  color: #3b1e14;
  font-size: 1em;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5a2f20d2;
}
.welcome_text{
  display: flex;
  flex-direction: column;
  margin-left: 1.8em;
  padding-top: 3em;
}

.Footer{
  background-color: #3b1e14;
  height: 4em;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 6em;
  padding-bottom: 5em;
  font-family: 'Cascadia Code';
}

.fab{
  color: white;
  margin-left: 1em;
  font-size: 1.5em;
  transition: all 0.3s;
}
.fab:hover{
  color: #C68B59;
}
.join{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.btn_primary{
  margin-top: 0.7em;
  background-color: #402218;
  padding: 0.8em;
  color: aliceblue;
  font-size: large;
  border: 5px solid rgba(92, 31, 31, 0.445);
  border-radius: 15px;
  cursor: pointer;
  transition: border 0.2s;
}

.btn_primary:active {
  border-color: #c58461c4;
  outline: none;
}
.input:focus{
  border-color: #722800;
}

.btn_nav{
  background: transparent;
  text-transform: uppercase;
  border: none;
  font-size: 1.1em;
  text-decoration: none;
}

.cont{
  min-height: 85vh;
  padding-top: 6em;
 
}

.card{
  min-height: 12em;
  width: 23em;
  box-shadow: rgba(0, 0, 0, 0.548) 0px 3px 8px;
  border-radius: 13px;
  padding: 1.8em;
  line-height: 2em;
  transition: all 0.3s;
  margin:  0px 0px 35px 0px;
}

.mb{
  margin-bottom: 0.8em;
}

.material_div{
  width: 70vw;
  height: 100vh;
  margin: auto;
  border: 2px solid #3b1e14;
  padding: 20px 0px;
  margin-top: 20px ;
  margin-bottom: 20px ;
}

.syllabus_link{
  margin-top: 0.7em;
  text-align: center;
  transition: all 0.4s;
}

.syllabus_link:hover{
  color: rgba(88, 88, 212, 0.466);
}

