
/*------------ Adding Custom Google Fonts -----------*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');


*{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: #3b1e14;
}



/*------------------ Button CSS ------------------*/
.btn_primary{
  margin-top: 0.7em;
  background-color: #402218;
  padding: 0.8em;
  color: aliceblue;
  font-size: large;
  border: 5px solid rgba(92, 31, 31, 0.445);
  border-radius: 15px;
  cursor: pointer;
  transition: border 0.2s;
}

.btn_primary:active {
  border-color: #c58461c4;
  outline: none;
}
.input:focus{
  border-color: #722800;
}

.btn_nav{
  background: transparent;
  text-transform: uppercase;
  border: none;
  font-size: 1.1em;
  text-decoration: none;
}
/*------------------ Button CSS Ends here ------------------*/




/*--------------- Customizing Scroll-bars CSS ---------------*/
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  background: #D7B19D;
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: #402218;
}
/*--------------- Customizing Scroll-bars CSS Ends here ---------------*/




/*---------------- NavBar CSS -----------------*/
.navbar{
  z-index: 1000;
  padding: 1.5em 6em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: #C68B59;
}

.hamburger{
  display: none;
}

.menu{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.menu li , .btn_nav{
  padding-left: 1.7em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;
}
.menu li:hover , .btn_nav:hover{
  font-weight: bolder;
}
/*---------------- NavBar CSS Ends here -----------------*/




/*----------------- Home page CSS --------------------*/
body{
  background-color: #C68B59;
}

.app , .cont{
  width: 85%;
  margin: auto;
}

.hero{
  display: flex;
  flex: row;
  min-height: 100vh;
  padding-top: 10em;
}

.welcome_text{
  display: flex;
  flex-direction: column;
  margin-left: 1.8em;
  padding-top: 3em;
}

.about{
  height: 85vh;
}

.Contact{
  height: 70vh;
  padding-bottom: 2em;
}

.section{
  min-height: 10em;
  width: 48%;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.7em;
}

.about h1 {
  font-size: 3em;
}

.section_container{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
/*----------------- Home page CSS Ends here --------------------*/



/*------------ Contact Form --------------------*/
.connect_container{
  margin-top: 1.5em;
}
.contact h3{
  margin-top: 0.6em;
}
.input{
  padding: 15px;
  border: none;
  border-bottom: 5px solid rgba(78, 16, 16, 0.863);
  width: 25em;
  outline: none;
  background: #C68B59;
  color: #3b1e14;
  font-size: 1em;
}
::placeholder { 
  color: #5a2f20d2;
}
/*--------------------- Contact Form Ends here --------------------*/




/*----------------- Footer section ------------------*/
.Footer{
  background-color: #3b1e14;
  height: 4em;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 6em;
  padding-bottom: 5em;
  font-family: 'Cascadia Code';
}

.fab{
  color: white;
  margin-left: 1em;
  font-size: 1.5em;
  transition: all 0.3s;
}
.fab:hover{
  color: #C68B59;
}
.join{
  display: flex;
  flex-direction: row;
  list-style: none;
}
/*----------------- Footer section Ends here ------------------*/



/*------------------------ Contribution section css -----------------*/
.cont{
  min-height: 85vh;
  padding-top: 6em;
 
}

.card{
  min-height: 12em;
  width: 23em;
  box-shadow: rgba(0, 0, 0, 0.548) 0px 3px 8px;
  border-radius: 13px;
  padding: 1.8em;
  line-height: 2em;
  transition: all 0.3s;
  margin:  0px 0px 35px 0px;
}

.mb{
  margin-bottom: 0.8em;
}

.material_div{
  width: 70vw;
  margin: auto;
  padding: 20px 0px;
  margin-top: 20px ;
  margin-bottom: 20px ;
}

.syllabus_link{
  margin-top: 0.7em;
  text-align: center;
  transition: all 0.4s;
}

.syllabus_link:hover{
  color: rgba(88, 88, 212, 0.466);
}
/*------------------------ Contribution section css ends here -----------------*/




/*----------------- Notice section ---------------*/
#notice {
  transform: rotate(90deg);
  position: fixed;
  right: -25px;
  top: 45%;
  background-color: #3b1e14;
  padding: 15px;
}

#notice a{
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.4s;
}

#notice a:hover{
  color: #C68B59;
}
/*----------------- Notice section Ends here ---------------*/




/*---------------------- Accordian CSS --------------------*/
.accordion{
  width: 100%;
  padding: 15px 12px;
  background-color: transparent;
}

#items{
  margin-top: 20px;
  position: relative;
  height: 90%;
  overflow-y: scroll;
}

#items::-webkit-scrollbar {
  display: none;
}

#accordItem{
  width: inherit;
  margin-bottom: 15px;
}

#question-section{
  display: flex;
  padding: 10px 12px;
  background: rgba(153, 109, 68, 0.582);
  border-radius: 7px 7px 0px 0px;
}

#toggle{
  background: transparent;
  font-size: 1.2em;
  border: none;
}

#quest{
  margin-left: 12px;
}

.linkAccord{
  background-color: rgba(138, 22, 1, 0.178);
  padding: 12px 45px;
}
.linkAccord a h4{
  font-weight: 400;
  text-decoration: dotted;
  transition: all 0.4s;
}
/*---------------------- Accordian CSS ends here --------------------*/




/* ------------------- Loader ----------------------- */
.loader{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*----------------- Loader CSS ends here --------------*/





/*---------------------------------------- MOBILE WORK STARTS HERE-------------------------------------------*/
@media only screen and (max-width: 1070px){

  *{
    box-sizing: border-box;
    font-size: x-small;
  }

  .navbar h3{
    font-size: 2.2em;
  }

  /*---------- Navbar ------------*/
  .menu {
    flex-direction: column;
    display: none;
  }

  .navbar{
    width: 100vw;
    justify-content: space-between;
    padding: 20px 10vw;
  }

  .hamburger{
    display: block;
    font-size: 4vw;
  }

  .navbar h3{
    font-size: 15px;
  }
  /*---------- Navbar Ends here ------------*/

  .app , .cont , .about , .hero_img{
    width: 90vw;
  }

  .about h1{
    text-align: center;
  }

  .hero{
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    margin: auto;
  }

  .about{
    padding-bottom: 0px;
  }

  .hero_img{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .himg{
    width: 45%;
    height: 45%;
  }

  .welcome_text{
    margin: auto;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }

  .welcome_text h1{
    text-align: center;
    font-size: 3em;
  }

  .btn_primary{
    display: none;
  }


  .input{
    width: 75vw;
  }

  #notice {
    display: none;
  }

  .section_container{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }

  .section{
    margin: auto;
    width: 90%;
    font-weight: bold;
    margin-top: 2.2em;
  }

  .section p{
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .Footer{
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 4em;
    margin-top: 4em;
  }

  .join{
    margin-top: 2em;
  }

  .Contact {
    margin-top: 5em;
    margin: auto;
    width: 78vw;
    text-align: center;
  }

  .Contact h1{
    margin-top: 5em;
    padding-top: 20px;
    text-align: center;
  }

  .connect_container{
    font-size: 2em;
    padding-top: 0.7em;
    text-align: center;
  }
  .Contact h3{
    font-size: 15px;
    margin-top: 20px;
  }

  .input{
    width: 50vw;
    font-size: 0.8em;
  }

  .submitbtn{
    display: block;
    margin: auto;
  }
}

@media only screen and (max-width: 493px){
  .Contact h1{
    margin-top: 10em;
  }

  .himg{
    width: 52%;
    height: 52%;
  }

  .Footer{
    margin-top: 30em;
  }

}

@media only screen and (max-width: 390px){
  .Contact h1{
    margin-top: 20em;
  }

  .himg{
    width: 52%;
    height: 52%;
  }

}
/*---------------------------------------- MOBILE WORK ENDS HERE-------------------------------------------*/